.tab-gps progress {
    width: 100%;
    border-radius: 3px;
}

.tab-gps .GPS_info .head, .tab-gps .GPS_signal_strength .head {
    display: block;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    border-bottom: 1px solid silver;
    background-color: #ececec;
}

.tab-gps #connect {
    display: none;
    text-align: center;
    padding-top: 40%;
}

.tab-gps #waiting {
    margin-top: 0;
    display: none;
    text-align: center;
    padding-top: 0;
    background-size: 15%;
    min-height: 400px;
    background: url(../../../images/loading-bars.svg) no-repeat center 40%;
    float: left;
    width: 100%;
}

.tab-gps #waiting .info {
    margin-top: 30%;
}

.tab-gps #connect a {
    font-weight: bold;
    margin-top: 10px;
}

.tab-gps #gps-map {
    max-height: 500px;
    width: 100%;
    float: left;
}

.tab-gps #gps-map .controls {
    width: 100%;
    float: left;
    height: 33px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #D1D1D1;
}

.tab-gps #gps-map .controls a {
    background-color: white;
    border-radius: 4px;
    border: 1px silver solid;
    color: grey;
    height: 10px;
    width: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 10px;
    padding: 6px;
    margin-top: 5px;
    float: right;
}

.tab-gps #gps-map .controls a:hover {
    background-color: #f5f5f5;
}

.tab-gps #gps-map .controls a:active {
    background-color: #e6e6e6;
}

.tab-gps #gps-map .controls a:first-child {
    margin-left: -1px;
    margin-right: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.tab-gps #gps-map .controls a:last-child {
    margin-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}



.tab-gps .content_wrapper {
    height: calc(100% - 20px);
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}



.tab-gps .gui_box_titlebar {
    margin-bottom: 4px;
}

.tab-gps .gui_box.send-data-box {
        min-width: 270px;
}

.tab-gps .cf_table {
    margin-bottom: 0px;
}

.tab-gps .cf_table td {
    white-space: nowrap;
    padding-top: 2px;
    padding-bottom: 2px;
}


.tab-gps .spacer_box div input,
.tab-gps .spacer_box div select {
    margin-right: 0px;
}

.tab-gps .cf_table td:last-child input,
.tab-gps .cf_table td:last-child select {
    float: right;
}


.tab-gps .GPS_send td:first-child {
    width: 1px;
}

.tab-gps .GPS_send td:nth-child(2) {
    text-align: right;
}

.tab-gps .GPS_send td:last-child {
    width: 1px;
}


.tab-gps .GPS_send input {
    padding-left: 3px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    border: 1px solid silver;
    border-radius: 3px;
    margin-right: 11px;
    font-size: 12px;
    font-weight: normal;
}

.tab-gps .GPS_send .number input {
    width: 80px;
}

.tab-gps .GPS_send .select select {
    width: 85px;
}

.tab-gps .GPS_send .string input {
    width: 80px;
}

.tab-gps .GPS_send .disabled {
    background-color: #ececec;
}






/*noinspection ALL*/
progress[value]::-webkit-progress-bar {
    background-color: #d2d2d2;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
}

/*noinspection ALL*/
progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .15)),
    -webkit-linear-gradient(left, #39a9dc, #39a9dc);
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
}

@media only screen and (max-width: 1055px) , only screen and (max-device-width: 1055px) {

    #gps-map {
        height: 347px;
        width: 100%;
        float: left;
    }

}
