.tab-mission-control .btn a {
    /*  common styles for content toolbar buttons */
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
    /*margin-right: 20px;*/
    background-color: #37a8db;
    border-radius: 3px;
    border: 1px solid #3394b5;
    color: #fff;
    /*float: right;*/
    font-family: 'open_sansbold', Arial, serif;
    font-size: 12px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
    display: block;
    cursor: pointer;
    transition: all ease 0.2s;
    padding: 0 9px;
    line-height: 28px;
    margin: 5px;
    float: left;
    width: 130px;
    text-align: center;
}

.tab-mission-control .btn a:hover {
    background-color: #3394b5;
    transition: all ease 0.2s;
}

.tab-mission-control .btn a:active {
    background-color: #37a8db;
    transition: all ease 0.0s;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.35);
}

.tab-mission-control .btn a.disabled {
    cursor: default;
    color: #fff;
    background-color: #AFAFAF;
    border: 1px solid #AFAFAF;
    pointer-events: none;
    text-shadow: none;
    opacity: 0.5;
}

.tab-mission-control #MPeditPoint .btn a {
    width: 94px;
}

.tab-mission-control .btn-danger a {
    background-color: #db250e;
    border: 1px solid #b5480e;
}

.tab-mission-control .btn-danger a:hover {
    background-color: #b5480e;
    transition: all ease 0.2s;
}

.tab-mission-control .checksfail {
    /*float: right;*/
    margin-top: 3px;
    height: 15px;
    width: 15px;
    background-image:url(../../../images/icons/nopass.svg);
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
}

.tab-mission-control .content_wrapper {
    display: flex;
    /*height: 90%;*/
    height: calc(100% - 80px);
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.tab-mission-control {
    height: 100%;
}

.tab-mission-control input {
    width: 125px;
    padding-left: 3px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    border: 1px solid silver;
    border-radius: 3px;
    font-size: 12px;
    font-weight: normal;
}

.tab-mission-control select {
    width: 128px;
    padding-left: 3px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    border: 1px solid silver;
    border-radius: 3px;
    font-size: 12px;
    font-weight: normal;
}

.tab-mission-control .point {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}
.tab-mission-control .point-label {
    width: 72px;
    display: inline-block;
}

.mission-control-settings {
    top: 65px;
    left: .5em;
}
.ol-touch .mission-control-settings {
    top: 80px;
}




.tab-mission-control .content_wrapper .cf_column.fourth {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
}

.tab-mission-control .content_wrapper .cf_column.threefourth_left {
    height: 100%;
}


#MPeditPoint {
    white-space: nowrap;
}

#MPeditPoint .buttonCloseBox {
    position: relative;
    top: 3px;
    right: 3px;
    float: right;
    cursor: pointer;
}


#missionMap {
    height: 100%;
}


#missionActionListPlaceholder {
    text-align: center;
    border: 1px dashed #ccc;
}
#missionActionListPlaceholder.attached {
    border: none;
}
#missionActionListPlaceholder.detached {
    min-height: 50px;
}
#missionActionListPlaceholder .detached-info {
    color: gray;
    text-align: center;
    display: block;
}
#missionActionListPlaceholder.attached .detached-info {
    display: none;
}


#missionActionList {
    width: inherit;
    white-space: nowrap;
    font-size: xx-small;
}
#missionActionList.attached {
    display: block;
    margin-bottom: 0px;
    /*background-color: #faa;*/
}
#missionActionList.detached {
    display: grid;
    min-width: 400px;
}

#missionActionList .gui_box_titlebar {
    border-bottom: 1px solid lightgray;
    margin-bottom: 0px;
}
#missionActionList.detached .gui_box_titlebar {
    cursor: move;
}
#missionActionList .buttonCollapse {
    position: relative;
    top: 3px;
    float: left;
    cursor: pointer;
}
#missionActionList .buttonDetach {
    position: relative;
    top: 3px;
    right: 3px;
    float: right;
    cursor: pointer;
}

#missionActionList .list-container {
    display: block;
    width: 100%;
    min-height: 100px;
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
}
#missionActionList.collapsed .list-container {
    display: none;
}
#missionActionList.collapsed .header {
    border-bottom: none;
}

#missionActionList .list-container table {
    border-collapse: collapse;
}
#missionActionList .list-container tr.rowPoint {
    cursor: pointer;
}
#missionActionList .list-container tr.rowPoint.modified {
    color: #f00;
    font-weight: bold;
}
#missionActionList .list-container th {
    color: gray;
}
#missionActionList .list-container table {
}
#missionActionList .list-container tr:nth-child(even) {
    background: #eee;
}
#missionActionList .list-container tr {
    border-bottom: 1px solid #ddd;
}
#missionActionList .list-container tr.selected {
    background: #aaa;
}
#missionActionList .list-container tr td:not(:last-child),
#missionActionList .list-container tr th:not(:last-child) {
    /*border-right: 1px solid #ddd;*/
}
#missionActionList .list-container td,
#missionActionList .list-container th {
    padding: 2px;
}
#missionActionList .list-container td:first-child {
    padding-left: 0px;
    cursor: ns-resize;
}
#missionActionList .list-container .cellType {
    width: 100%;
}


#missionActionList .border {
    border: 1px solid lightgray;
}



/*
#missionMap {
    opacity: .5;
}
*/
